
body {
    font-family: Arial, sans-serif;
    background-color: orange;
    color: black;
    height: 200vh;
    display: flex;
    justify-content:center;
    align-items:center;
  }
  .text-center{
    background-color: grey
  }
  h1{
    font-size: 85px;
  }
  
  .counter h2 {
    font-size: 5rem;
    margin: 40px 0;
  }
  
  button {
    margin: 5px;
    padding: 10px 20px;
    
    cursor: pointer;
  }
  
  input {
    padding: 2px;
    font-size: rem;
    width: 40px;
    height:30px;
  }